body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 3%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(184, 6, 6), rgb(204, 113, 97));
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 5px;
  color: aqua;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.paragraph-color {
  color: rgb(1, 1, 138);
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-item {
  width: 40%;
  box-shadow: 10px 10px 80px rgb(155, 144, 144);
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
}
